form {
    margin-right: 500px;
}

.button {
    text-decoration: none;
    background-color: #ff6666;
    border-style: solid;
    border-color: #ff0000;
    border-width: 1.5px;
    border-radius: 3px;
    color: white;
    padding: 3px;
    height: 30px;
    width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}