header {
    background-color: #62689E;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    box-shadow: 0 2px 6px;
}

.logoBox {
    position: fixed;
    margin-left: 12.5%;
    height: 120px;
    width: 210px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px gray;
}

/*@media (max-width: 750px) {*/
/*    .logoBox {*/
/*        width: 105px;*/
/*        height: 60px;*/

/*    }*/

/*}*/

/*@media (max-width: 750px) {*/
/*    .logo {*/
/*        width: 90px;*/
/*        height: 45px;*/

/*    }*/
/*}*/

.logo {
    position: fixed;
    margin-left: 13px;
    margin-top: 17px;
    width: 180px;
    height: 90px;
}

#active {
    color: #fd7e14;
}

.menuBar{
    position: fixed;
    float: right;
    top: 4%;
    left: 45%;
}


.menuBar a {
    margin: 8px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}

.container {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 2%;
}
body {
    margin: 0px;
    margin-top:0px;
    background-color: #EEEEEE;
  }

.required {
    float: right;
    color: red;
    font-size: 60%;
}

li {
    list-style-type: none;
    margin-top: 3px;
    margin-left: 20px;
    margin-bottom: 2px;
}

.info {
    margin-top: 6%;
}

.infoblock {
    display: block;
    margin-top: 10px;
    margin-left: 25%;
    padding: 2px;
    width: 50%;
    background-color: #dbdbdb;
    border: 1px solid #000000;
}

.button {
    text-decoration: none;
    background-color: #62689E;
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 25%;
    color: white;
    padding: 3px;
    width: 50%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.bodyheader {
    position: center;
}

h1 {
    text-align: center;
}
